{% extends 'base.html' %}

{% block head %}
    <style>
        div#value_sliders {
            display: inline-block;
            height: 2em;
        }
        input[type="range"] {
            position: absolute;
        }

        #new_value {
            opacity: 0.4;
        }
    </style>
{% endblock head %}

{% block content %}
    <form>
        <h1>{{ datum.name }}</h1> <!-- TODO: Center text -->
        <p>{{ datum.description }}</p>
        <p>Implementation: {{ (100*datum.implementation) | round }}%</p>
        <div style="height: 2em; border-style: solid;">
            <div style="height: 100%; background-color: blue; width: {{ 100*datum.implementation }}%;"></div>
        </div>
        <p>Target: {{ (100*datum.target)|round }}%</p>
        <p>Value: {{ (100*datum.value)|round }}%</p>
        
        <div id="value_sliders">
            <input type="range" max=100 min=0 value={{ 100*datum.value }} id="old_value" disabled/>
            <input type="range" max=100 min=0 value={{ 100*datum.target }} id="new_value"/>
        </div>
    </form>      
    
    {% if datum.cost_history|any %}
        <div class="line_graph" id="cost_history" title="Cost History" data="{{ datum.cost_history|tojson }}"></div>
    {% endif %}
    {% if datum.income_history|any %}
        <div class="line_graph" id="income_history" title="Income History" data="{{ datum.income_history }}"></div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script>
        var data_points;
        switch ($('div.line_graph').attr('id')) {
            case 'cost_history':
                data_points = {{ datum.cost_history|tojson|safe }};
                break;
            case 'income_history':
                data_points = {{ datum.income_history|tojson|safe }};
                break;
        }
    </script>
    <script src="{{ url_for('static', filename='scripts/line_graph.js') }}"></script>
{% endblock scripts %}  