{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for situation in situations %}
                {% if situation.active %}  
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head">
                                <h4><a href="{{ url_for('dem3.situation', name=situation.name) }}">{{ situation.name }}</a></h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}