{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Columns</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                <tr>
                    <td>{{ table.name }}</td>
                    <td>{{ table.size }}</td>
                    <td>{{ table.columns }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}